*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background:#6ec1e4;
    height: 70px;
    align-items: center;

}

.ancho{
    width: 80%;
    height: 70px;
    background: red; 
    margin: auto;   
}

.logo{
    width: 20%;
    height: 70px;
    background: #6ec1e4;
    float: left;
    padding-top: 22;
    box-sizing: border-box;

}

.logo p a{
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}
nav{
    width: 80%;
    height: 70px;
    background: red;
    float: left;
    padding-top: 24;
    box-sizing: border-box;
    text-align: right;
}

nav ul li{
    display: inline;
}
 nav ul li a{
     color: #fff;
     font-size: 15px;
     text-decoration: none;
     padding-left: 15px;
     font-weight: bold;
     letter-spacing: 1px;
     align-items: center;
 }

 nav ul li a:hover{
     color: black;
 }